* {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	text-transform: lowercase;
	color: #f9fbfd;
}

body {
	background-image: url("https://images.unsplash.com/photo-1479147014836-dda42d84c1a9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=72522d87a2c226fb0047e7a9d47c4441&auto=format&fit=crop&w=2251&q=80");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.row::before,
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.col-6, 
.col-4, 
.col-12 {
	float: left;
	padding-left: 1.0416666%;
	padding-right: 1.0416666%;
	width: 100%;
	text-align: center;
}

@media only screen and (min-width: 640px) {
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 33%;
	}
	body {
		margin-top: 150px;
	}
}

.register {
	text-decoration: underline;
	cursor: pointer;
}

#login-form label,
#register-form label {
	width: 200px;
	text-align: left;
	margin-left: -125px;
}

button {
	display: block;
	margin: auto;
	margin-top: 15px;
	background: #f9fbfd;
	color: #14272d;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	text-transform: lowercase;
}

button:hover {
	background: #aa7b48;
	color: #f9fbfd;
}

#login-form input,
#register-form input {
	display: block;
	margin: auto;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 3px;
	width: 200px;
	background: #14272d;
	color: white;
	text-transform: none;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 54px;
}

.edit-button {
	display: inline;
}

#register-error p,
#login-error p {
	color: red;
}
