
* {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	text-transform: lowercase;
}

body {
	background: #f9fbfd;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.row::before,
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.col-6, 
.col-4, 
.col-12 {
	float: left;
	padding-left: 1.0416666%;
	padding-right: 1.0416666%;
	width: 100%;
	text-align: center;
}

@media only screen and (min-width: 640px) {
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 33%;
	}
}

.register {
	text-decoration: underline;
	cursor: pointer;
}

#login-form label,
#register-form label {
	width: 200px;
	text-align: left;
	margin-left: -125px;
}

button {
	display: block;
	margin: auto;
	margin-top: 15px;
	background: #14272d;
	color: white;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	text-transform: lowercase;
}

button:hover {
	background: #936A3E;
}

.complete-task input {
	margin-left: 10px;
	background: #14272d;
	color: #f0d2c0;
}

.complete-task {
	display: inline;
}

.task-container p,
.overdue p {
	display: inline;
}

a {
	text-decoration: none;
	color: #378090;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

ul {
	padding-left: 0px;
}
.submit-button {
	display: inline;
	font-size: 12px;
	padding: 5px;
}

.edit-button:hover {
	color: #14272d;
}

.delete-button:hover {
	background: #378090;
}

.task-container {
	background: #f0d2c0;
	margin-bottom: 15px;
	padding: 20px;
	border: 2px solid #936A3E;
	border-radius: 15px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.overdue {
	background: #936A3E;
	margin-bottom: 15px;
	padding: 20px;
	border-radius: 15px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	color: white;
}

.plant-container {
	background: #378090;
	color: white;
	margin-bottom: 15px;
	padding: 20px;
	border-radius: 15px;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
}

.plant-container:hover {
	background: #936A3E;

}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 54px;
}

.check {
	color: white;
	cursor: pointer;
	font-size: 28px;
	vertical-align: middle;
	position: relative;
	bottom: 3px;
	margin-left: 10px;
}

.check:hover {
	color: #14272d;
}

h2 {
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #14272d;
}

#logout button {
	margin-right: 0;
	margin-top: 45px;
}

.add-plant-button,
#add-plant-form button {
	margin-bottom: 15px;
}
