
* {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
	text-transform: lowercase;
}

a {
	color: #24201C;
	text-decoration: none;
}

body {
	background: white;
}

button {
	background: #568B8A;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 14px;
	margin: auto;
	margin-top: 15px;
	padding: 10px;
	text-transform: lowercase;
}

button:hover {
	background: #85832D;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 54px;
}

h2 {
	color: #24201C;
	letter-spacing: 3px;
	text-transform: uppercase;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

ul {
	padding-left: 0;
}

.add-plant-button {
	margin-bottom: 15px;
}

input {
	display: inline-block;
	margin-bottom: 5px;
}

label {
	display: inline-block;
}

.check {
	bottom: 3px;
	color: white;
	cursor: pointer;
	font-size: 28px;
	margin-left: 10px;
	position: relative;
	vertical-align: middle;
}

.check:hover {
	color: #24201C;
}

.col-6, 
.col-4, 
.col-12 {
	float: left;
	padding-left: 1.0416666%;
	padding-right: 1.0416666%;
	text-align: center;
	width: 100%;
}

.complete-task {
	display: inline;
}

.complete-task input {
	background: #568B8A;
	color: #3E744F;
	margin-left: 10px;
}

.delete-button:hover {
	background: #85832D;
	color: white;
}

.edit-button:hover {
	color: #24201C;
}

.overdue {
	background: #85832D !important;
}

.overdue,
.task-container {
	background: #3E744F;
	border-radius: 15px;
	color: white;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.overdue p,
.task-container p {
	display: inline;
}

.plant-container {
	background: white;
	border: 2px solid #568B8A;
	border-radius: 15px;
	color: #568B8A;
	cursor: pointer;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.add-plant-button {
	border-radius: 15px;
	cursor: pointer;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 100%;	
}

.plant-container:hover {
	background: #568B8A;
	color: white;
}

.register {
	cursor: pointer;
	text-decoration: underline;
}

.row {
	margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

.row::before,
.row::after {
	content: '';
	display: table;
}

.row::after {
	clear: both;
}

.submit-button {
	display: inline;
	font-size: 12px;
	padding: 5px;
}

@media only screen and (min-width: 640px) {
	.col-6 {
		width: 50%;
	}
	.col-4 {
		width: 33%;
	}
	.logout-btn {
	margin-right: 0;
	margin-top: 45px;
	}
}